In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data = pd.read_csv('mobile_prices_2023.csv')
data.head()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",2023-06-17
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,"₹11,999",2023-06-17
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17
3,"POCO C55 (Cool Blue, 64 GB)",4.2,"22,621",4 GB RAM,64 GB ROM,50MP Dual Rear Camera,5MP Front Camera,5000 mAh,Mediatek Helio G85 Processor,"₹7,749",2023-06-17
4,"POCO C51 (Power Black, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17

In [3]:
data.shape

(1836, 11)

In [4]:
data.describe(include = 'all')

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
count,1836,1836.000000,1836,1836,1662,1827,1435,1826,1781,1836,1836
unique,1507,NaN,717,46,27,174,33,102,332,519,1
top,SAMSUNG Guru Music 2,NaN,0,8 GB RAM,128 GB ROM,50MP Rear Camera,16MP Front Camera,5000 mAh,1 Year Warranty for Phone and 6 Months Warrant...,"₹9,999",2023-06-17
freq,9,NaN,25,438,689,101,332,786,47,47,1836
mean,NaN,4.210512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.543912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,4.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,4.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,4.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.isnull().sum()

Phone Name             0
Rating ?/5             0
Number of Ratings      0
RAM                    0
ROM/Storage          174
Back/Rare Camera       9
Front Camera         401
Battery               10
Processor             55
Price in INR           0
Date of Scraping       0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   object
 3   RAM                1836 non-null   object
 4   ROM/Storage        1662 non-null   object
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1435 non-null   object
 7   Battery            1826 non-null   object
 8   Processor          1781 non-null   object
 9   Price in INR       1836 non-null   object
 10  Date of Scraping   1836 non-null   object
dtypes: float64(1), object(10)
memory usage: 157.9+ KB

In [7]:
mode_rom = data['ROM/Storage'].mode()[0]
mode_fcam = data['Front Camera'].mode()[0]
mode_brcam = data['Back/Rare Camera'].mode()[0]
mode_ba3 = data['Battery'].mode()[0]
mode_pro = data['Processor'].mode()[0]

In [8]:
data['ROM/Storage'] = data['ROM/Storage'].fillna(value = mode_rom)
data['Front Camera'] = data['Front Camera'].fillna(value = mode_fcam)
data['Back/Rare Camera'] = data['Back/Rare Camera'].fillna(value = mode_brcam)
data['Battery'] = data['Battery'].fillna(value = mode_ba3)
data['Processor'] = data['Processor'].fillna(value = mode_pro)

In [9]:
data.isna().sum()

Phone Name           0
Rating ?/5           0
Number of Ratings    0
RAM                  0
ROM/Storage          0
Back/Rare Camera     0
Front Camera         0
Battery              0
Processor            0
Price in INR         0
Date of Scraping     0
dtype: int64

In [10]:
Label = ['Phone Name','Rating ?/5' ,'Number of Ratings','RAM','ROM/Storage','Back/Rare Camera','Front Camera',
     'Battery' ,'Processor' ,'Price in INR','Date of Scraping']
from sklearn.preprocessing import LabelEncoder
label =LabelEncoder()
for a in Label:
    data[a]=label.fit_transform(data[a])

In [11]:
for i in Label:
    data[a]=data[a].astype(int)

In [12]:
data.dtypes

Phone Name           int32
Rating ?/5           int64
Number of Ratings    int32
RAM                  int32
ROM/Storage          int32
Back/Rare Camera     int32
Front Camera         int32
Battery              int32
Processor            int32
Price in INR         int32
Date of Scraping     int32
dtype: object

In [13]:
#data['ROM/Storage'] = data['ROM/Storage'].fillna(data['ROM/Storage'].mode())
#data['Front Camera']= data['Front Camera'].fillna(data['Front Camera'].mode())
#data['Back/Rare Camera']= data['Back/Rare Camera'].fillna(data['Back/Rare Camera'].mode())
#data['Battery']= data['Battery'].fillna(data['Battery'].mode())
#data['Processor']= data['Processor'].fillna(data['Processor'].mode())

In [14]:
x = data.drop(['Price in INR'], axis=1)
y = data['Price in INR']
x.shape, y.shape

((1836, 10), (1836,))

In [15]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 12)

In [16]:
from sklearn.linear_model import LinearRegression as lnr
from sklearn.metrics import mean_absolute_error as mae

In [17]:
linear = lnr()
linear.fit(train_x, train_y)

LinearRegression()

In [18]:
Train_prediction = linear.predict(train_x)
h = mae(Train_prediction, train_y)
print('Training Mean Absolute Error', h )

Training Mean Absolute Error 123.70719346747565

In [19]:
Test_prediction = linear.predict(test_x)
k = mae(Test_prediction, test_y)
print('Test Mean Absolute Error    ', k )

Test Mean Absolute Error     119.10195081919379

In [20]:
RD = pd.DataFrame({
    'initial values' : test_y,
    'predicted values' : Test_prediction,
})

RD['incorrect'] = RD['initial values'] - RD['predicted values']
RD.head()

     initial values  predicted values   incorrect
164             452        276.290708  175.709292
604             467        186.002398  280.997602
543              62        210.270769 -148.270769
594             467        186.063976  280.936024
207              80        239.325419 -159.325419